*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

min-height:100vh;

background:linear-gradient(135deg,#020617,#1e3a8a,#7c3aed);

color:white;

padding:20px;

}



.admin-container{

max-width:600px;

margin:auto;

background:rgba(255,255,255,.12);

backdrop-filter:blur(18px);

padding:25px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.5);

}



.admin-container h1{

text-align:center;

color:#FFD700;

margin-bottom:25px;

}



.dashboard-card{

background:rgba(255,255,255,.15);

padding:20px;

border-radius:20px;

margin-bottom:20px;

text-align:center;

}



.dashboard-card span{

color:#00ffcc;

font-size:25px;

font-weight:bold;

}



.request-card{

background:rgba(255,255,255,.15);

padding:20px;

border-radius:20px;

margin-top:15px;

}



.request-card h3{

color:#FFD700;

}



.request-card button{

width:48%;

padding:12px;

margin-top:15px;

border:none;

border-radius:15px;

color:white;

font-weight:bold;

cursor:pointer;

}



.approve{

background:#16a34a;

}



.reject{

background:#dc2626;

}
