*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

min-height:100vh;

background:linear-gradient(135deg,#020617,#1e3a8a,#7c3aed);

color:white;

padding:20px;

}



.admin-dashboard{

max-width:600px;

margin:auto;

background:rgba(255,255,255,.12);

backdrop-filter:blur(18px);

padding:25px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.5);

}



.admin-dashboard h1{

text-align:center;

color:#FFD700;

margin-bottom:25px;

}



.admin-cards{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}



.admin-card{

background:rgba(255,255,255,.15);

padding:20px;

border-radius:20px;

text-align:center;

}



.admin-card h2{

font-size:30px;

color:#00ffcc;

}



.admin-card p{

margin-top:10px;

font-size:16px;

}



.admin-menu{

margin-top:25px;

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}



.admin-menu button{

padding:15px;

border:none;

border-radius:18px;

background:linear-gradient(90deg,#00c6ff,#7c3aed);

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

}



.admin-menu button:hover{

transform:scale(1.05);

}
