*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#020617,#1e40af,#7c3aed);

color:white;

padding:20px;

}


.gift-box{

width:90%;

max-width:420px;

padding:30px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(15px);

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.5);

text-align:center;

}


.gift-box h1{

font-size:38px;

color:#FFD700;

margin-bottom:10px;

}


.gift-box h2{

margin-bottom:25px;

}


.gift-card{

background:rgba(255,255,255,.15);

padding:20px;

margin:15px 0;

border-radius:20px;

box-shadow:0 8px 20px rgba(0,0,0,.3);

}


.gift-card h3{

font-size:25px;

margin-bottom:10px;

}


.gift-card p{

margin-bottom:10px;

}


.gift-card button{

width:100%;

padding:14px;

border:none;

border-radius:15px;

background:linear-gradient(90deg,#00c6ff,#7c3aed);

color:white;

font-size:17px;

font-weight:bold;

cursor:pointer;

}


.gift-card button:hover{

transform:scale(1.05);

}
