*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(180deg,#2d1468,#14072d);
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
color:#fff;
}

.register-page{
width:100%;
max-width:420px;
padding:20px;
}

.register-box{
background:rgba(255,255,255,.08);
backdrop-filter:blur(18px);
border:1px solid rgba(255,255,255,.15);
border-radius:28px;
padding:35px 25px;
box-shadow:0 20px 50px rgba(0,0,0,.45);
}

.logo-box{
text-align:center;
margin-bottom:25px;
}

.logo{
width:90px;
height:90px;
border-radius:50%;
margin-bottom:12px;
}

.logo-box h1{
font-size:32px;
font-weight:700;
}

.logo-box p{
color:#d6d6d6;
margin-top:8px;
}

.input-box{
margin-bottom:18px;
}

.input-box input{
width:100%;
padding:16px;
border:none;
outline:none;
border-radius:15px;
background:rgba(255,255,255,.10);
border:1px solid rgba(255,255,255,.18);
color:#fff;
font-size:16px;
}

.input-box input::placeholder{
color:#cccccc;
}

.input-box input:focus{
border:1px solid #8b5cff;
box-shadow:0 0 15px rgba(139,92,255,.45);
}
/* ===== TERMS ===== */

.terms{
margin:15px 0;
font-size:14px;
color:#ddd;
}

.terms label{
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
}

.terms input{
width:18px;
height:18px;
accent-color:#8b5cff;
}

/* ===== REGISTER BUTTON ===== */

.register-btn{
width:100%;
padding:16px;
border:none;
border-radius:15px;
background:linear-gradient(90deg,#6f4cff,#9b5cff);
color:#fff;
font-size:18px;
font-weight:700;
cursor:pointer;
transition:.3s;
margin-top:10px;
}

.register-btn:hover{
transform:translateY(-2px);
box-shadow:0 10px 25px rgba(111,76,255,.40);
}

/* ===== DIVIDER ===== */

.divider{
display:flex;
align-items:center;
justify-content:center;
margin:25px 0;
color:#ddd;
font-size:14px;
}

.divider::before,
.divider::after{
content:"";
flex:1;
  /* ===== LOGIN LINK ===== */

.login-link{
margin-top:20px;
text-align:center;
font-size:15px;
color:#dddddd;
}

.login-link a{
color:#9f8cff;
font-weight:700;
text-decoration:none;
}

.login-link a:hover{
text-decoration:underline;
}

/* ===== MOBILE RESPONSIVE ===== */

@media(max-width:480px){

.register-page{
padding:15px;
}

.register-box{
padding:25px 18px;
}

.logo{
width:75px;
height:75px;
}

.logo-box h1{
font-size:26px;
}

.logo-box p{
font-size:14px;
}
